*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  background: #101011;
  color: #eee;
}

#root,
#modal-root {
  font-family: Consolas, Courier, 'Courier New', 'Andale Mono', Monaco,
    monospace;
}
